@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active item-carousel-home">
            <img src="~/img/banner01.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container products-services">
    <div class="row align-items-center">
        <div class="col-md-8 main-page-title align-self-center">
            <h1>
                Tudo para o seu melhor amigo
            </h1>
            <h2>
                Encontre as melhores opções de serviços e produtos em um só lugar.
            </h2>
        </div>
        <div class="col-md-4 veja-mais align-self-center">
            <a class="bt-veja-mais" href="">VEJA MAIS ></a>
        </div>
    </div>
    <div class="row align-items-center line-product-boxes">
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center line-product-boxes">
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 product">
            <div class="products-box">
                <img src="~/img/vacina.jpg" class="d-block w-100" alt="...">
                <div class="products-informations">
                    <h4>Vacina Antirrábica</h4>
                    <p class="label-parceiros"><strong>Parceiro: </strong> Clínica Doutor PET</p>
                    <p class="label-local"><strong>Local: </strong> São Bernardo do Campo - SP</p>
                    <p style="height:30px;"></p>
                    <div class="products-button">
                        <a class="bt-veja-mais" href="">SAIBA MAIS ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container highlights">
    <div class="row align-items-center">
        <div class="col-md-12 highlight-title">
            <h2>
                Destaques
            </h2>
        </div>
    </div>
    <div class="row align-items-center linha-categorias">
        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-consultas"></div>
                <div class="box-category"><h4>Consultas</h4></div>
            </a>
        </div>


        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-banho"></div>
                <div class="box-category"><h4>Banho e tosa</h4></div>
            </a>
        </div>

        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-vacinas"></div>
                <div class="box-category"><h4>Vacinas</h4></div>
            </a>
        </div>

        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-exames"></div>
                <div class="box-category"><h4>Exames</h4></div>
            </a>
        </div>

        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-vacinas"></div>
                <div class="box-category"><h4>Especialistas</h4></div>
            </a>
        </div>

        <div class="col-md-6 highlight-blocs">
            <a href="#">
                <div class="content-overlay"></div>
                <div class="bloc-atendimento"></div>
                <div class="box-category"><h4>Atendimento 24hs</h4></div>
            </a>
        </div>

    </div>
</div>

