@using Microsoft.AspNetCore.Identity
@using _838PET.Areas.Identity.Data

@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager

@{
    var myLocalUser = await UserManager.GetUserAsync(User);
    int totalPF = UserManager.Users.Where(x => x.Perfil == "PF").Count();

    int totalUser = UserManager.Users.Where(x => x.Perfil != "Admin").Count();
    int totalPJ = UserManager.Users.Where(x => x.Perfil == "PJ").Count();
}

<!doctype html>
<html lang="pt_br">
<head>
    <title>Admin Panel</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/panel.css" />

</head>
<body style="background-color: #ECF0F3;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Início</a>
        <a href="#">Produtos</a>
        <a href="#">Serviços</a>
        <a href="#">Vouchers</a>
        <a href="#">Financeiro</a>
        <a href="#">Configurações</a>
        <a href="./user.html">Usuários</a>
        <a asp-area="Identity" asp-page="/Account/Logout">Sair</a>
    </div>
    <header>
        <div class="appbar" id="topo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="bt-mobile" onclick="openNav()">&#9776;</span>
                    </div>
                    <div class="col-10 appbar-title">
                        <label>838 Pet</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        <div class="stack">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 align-self-center sidebar-col">
                        <div class="neumorphic-sidebar">
                            <div class="sidebar">
                                <h2>Menu</h2>
                                <div class="divider"></div>
                                <ul>
                                    <li><a href="#">Início</a></li>
                                    <li><a href="#">Produtos</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="#">Vouchers</a></li>
                                    <li><a href="#">Financeiro</a></li>
                                    <li><a href="#">Configurações</a></li>
                                    <li><a asp-page="../PanelAdmPages/AdmUsersPage">Usuários</a></li>
                                    <li><a asp-area="Identity" asp-page="/Account/Logout">Sair</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 align-self-center content-col">
                        <h1>Olá, @(myLocalUser.FullName)</h1>
                        <div class="container options-home">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-12 align-self-center neumorphic user-data">
                                    <h2>Usuários</h2>
                                    <p>Conheça melhor seus usuários e acompanhe o crescimento da sua base de clientes.</p>
                                    <div class="row numbers-line justify-content-center">
                                        <a href="">
                                            <div class="col-12 col-md-3 user-data-1 user-block neumorphic">
                                                <h5>Clientes</h5>
                                                <h3>@(totalPF)</h3>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="col-12 col-md-3 user-data-2 user-block neumorphic">
                                                <h5>Parceiros</h5>
                                                <h3>@(totalPJ)</h3>
                                            </div>
                                            </a>
                                        <a href="">
                                            <div class="col-12 col-md-3 user-data-3 user-block neumorphic">
                                                <h5>Total</h5>
                                                <h3>@(totalUser)</h3>
                                            </div>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between services-data">
                                <div class="col-12 col-md-5 all-services neumorphic">
                                    <h2>Serviços</h2>
                                    <p>Total de serviços cadastrados.</p>
                                    <h3>90</h3>
                                </div>
                                <div class="col-12 col-md-3 all-services neumorphic">
                                    <h2>Vouchers</h2>
                                    <p>Total de vouchers emitidos.</p>
                                    <h3>90</h3>
                                </div>
                                <div class="col-12 col-md-3 all-services neumorphic">
                                    <h2>Produtos</h2>
                                    <p>Valor padrão.</p>
                                    <h3>R$1,30</h3>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .default-header {
            display: none;
        }

        .default-footer {
            display: none;
        }
    </style>
</body>
</html>