@page
@model _838PET.AboutUsPageModel
@{
    ViewData["Title"] = "AboutUsPage";
}

<div class="about-us">
    <div class="box-title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <h1>Sobre Nós</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Só quem é apaixonado por animais sabe: a relação de amor e cumplicidade que temos com nossos bichinhos de estimação é um vínculo único! Por essa razão, não medimos esforços para oferecer o que há de melhor para trazer ainda mais alegria e qualidade de vida. Rações, acessórios, medicamentos e brinquedos estão na nossa listinha de prioridades; e tudo isso você encontra em nosso Pet Shop online.
                        Cada item é separado de acordo não apenas com a espécie dos nossos queridos amiguinhos, mas também segundo o peso, a idade e até as condições físicas. Com isso, é possível facilitar a busca de produtos para pet perfeitos sem perder muito tempo. Afinal, a melhor experiência é aproveitar cada momento ao lado dos nossos companheiros.
                    </p>
                    <p>
                        Por isso, conveniência é uma de nossas virtudes! A qualquer hora do dia ou da noite, tudo sobre pet shop — e sobre nossos animais — você pode encontrar aqui. Sempre com a qualidade das melhores marcas e com o cuidado da 838 pets.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-text about-us-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Produtos para Animais de todos as espécies</h2>
                    <p>
                        Muito embora a gente ame nossos amigos de quatro patas, sabemos que cada pet tem particularidades que os tornam ainda mais encantadores. Por essa razão, em nosso site de Pet Shop, é possível conferir uma ampla variedade de artigos para trazer conforto e bem-estar não apenas a cãezinhos e gatos, como também a aves, pequenos roedores, répteis e peixinhos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container highlights">
        <div class="row align-items-center">
            <div class="col-md-12 highlight-title">
                <h2>
                    Destaques
                </h2>
            </div>
        </div>
        <div class="row align-items-center linha-categorias">
            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-consultas"></div>
                    <div class="box-category"><h4>Consultas</h4></div>
                </a>
            </div>


            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-banho"></div>
                    <div class="box-category"><h4>Banho e tosa</h4></div>
                </a>
            </div>

            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-vacinas"></div>
                    <div class="box-category"><h4>Vacinas</h4></div>
                </a>
            </div>

            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-exames"></div>
                    <div class="box-category"><h4>Exames</h4></div>
                </a>
            </div>

            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-vacinas"></div>
                    <div class="box-category"><h4>Especialistas</h4></div>
                </a>
            </div>

            <div class="col-md-6 highlight-blocs">
                <a href="#">
                    <div class="content-overlay"></div>
                    <div class="bloc-atendimento"></div>
                    <div class="box-category"><h4>Atendimento 24hs</h4></div>
                </a>
            </div>

        </div>
    </div>
</div>


