@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 align-self-center">
                <div class="cards">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h4>Cadastro</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email">E-mail</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FullName">Nome Completo</label>
                            <input asp-for="Input.FullName" class="form-control" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Telefone">Telefone</label>
                                    <input asp-for="Input.Telefone" class="form-control"  onkeydown="javascript: fMasc( this, mascaraDeTelefone );"/>
                                    <span asp-validation-for="Input.Telefone" class="text-danger"></span>
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.AlternativoTelefone">Celular</label>
                                    <input asp-for="Input.AlternativoTelefone" class="form-control"  onkeydown="javascript: fMasc( this, mascaraDeTelefone );"/>
                                    <span asp-validation-for="Input.AlternativoTelefone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Cidade">Cidade</label>
                                    <input asp-for="Input.Cidade" class="form-control" />
                                    <span asp-validation-for="Input.Cidade" class="text-danger"></span>
                                </div>   
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Estado">Estado</label>
                                    <input asp-for="Input.Estado" class="form-control" />
                                    <span asp-validation-for="Input.Estado" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Senha</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">Confirmar Senha</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group  form-bt">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        header {
            display: none;
        }

        footer {
            display: none;
        }

        body {
            background-color: #2207c7;
        }
    </style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
